{% extends 'template.html.twig' %}

{% block PageTitle %}Hello PersonneController!{% endblock %}

{% block body %}
    {# {{dump(personne)}} #}
    {{ form(form, {'method': 'GET'}) }}

    {# <div class="alert alert-success">
        {{personne.name}} {{personne.firstname}}  a été créé.
    </div> #}

{% endblock %}
