{% extends 'template.html.twig' %}

{% block PageTitle %}Hello PersonneController!{% endblock %}

{% block body %}
    {{dump(personne)}}
{#
    <div class="alert alert-success">
        {{personne.name}} {{personne.firstname}}  a été trouvé dans la base de donnée.
    </div>
#}
{% endblock %}
