<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block Titredudocument %}
            Titre par défaut du document
        {% endblock %}
    </title>
</head>
<body>
    {% block corpDuDocument %}
        Corps par défaut
    {% endblock %}
</body>

</html>